<!DOCTYPE html>
<html lang="en">

</html>
<body>
    <div>
        <form action="/querycn" method="post">
            <input type="text" name="choosetext" placeholder="choosetext">
            <input type="text" name="querytext" placeholder="querytext">
            <button type="submit">查询</button>
            <p id ="demo"></p>
        </form>
        <table border="1" width="30%" weight="30%">
            <thead>
            <tr>
                <th>id</th>
                <th>application_id</th>
                <th>name_id</th>
                <th>name</th>
                <th>date</th>
                <th>title</th>
                <th>body</th>
                <th>isEdited</th>
                <th>rating</th>
                <th>voteCount</th>
                <th>voteSun</th>
                <th>voteUrl</th>
                <th>reportConcernUrl</th>
                <th>reportConcernExplanation</th>
                <th>customerType</th>
                <th>viewUsersUserReviewsUrl</th>
            </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result[0]}}</td>
                        <td>{{ result[1]}}</td>
                        <td>{{ result[2]}}</td>
                        <td>{{ result[3]}}</td>
                        <td>{{ result[4]}}</td>
                        <td>{{ result[5]}}</td>
                        <td>{{ result[6]}}</td>
                        <td>{{ result[7]}}</td>
                        <td>{{ result[8]}}</td>
                        <td>{{ result[9]}}</td>
                        <td>{{ result[10]}}</td>
                        <td>{{ result[11]}}</td>
                        <td>{{ result[12]}}</td>
                        <td>{{ result[13]}}</td>
                        <td>{{ result[14]}}</td>
                        <td>{{ result[15]}}</td>
<!--                        <td><a href="/delete?commentId={{result[4]}}"><button>删除</button></a></td>-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>